@font-face {
  font-family: 'Poppins Regular';
  src: local('Poppins Regular'), url(../src/assets/fonts/Poppins/Poppins-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins Medium';
  src: local('Poppins Medium'), url(../src/assets/fonts/Poppins/Poppins-Medium.ttf) format('woff');
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box; 
  font-family: 'Poppins Regular';
  border: none;
  text-decoration: none;
}

body {
  font-size: 16px;
}

a, p, input {
  font-size: 1rem;
}

h1, h2, h3, a, button {
  font-family: 'Poppins Medium';
}

h1 {
  font-size: 2rem;
}

/* Colors */
.primary {
  background-color: #77CC6E;
}